<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Collecting Job Data Using APIs**

Estimated time needed: **45 to 60** minutes

## Objectives

*   Collect job data from Jobs API
*   Store the collected data into an excel spreadsheet.

## Collect Jobs Data using Jobs API

### Objective: Determine the number of jobs currently open for various technologies  and for various locations

Collect the number of job postings for the following locations using the API:

* Los Angeles
* New York
* San Francisco
* Washington DC
* Seattle
* Austin
* Detroit

In [8]:
#Import required libraries
import pandas as pd
import json
import requests

In [60]:
#api_url="http://127.0.0.1:5000/data"
api_url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json'
def get_number_of_jobs_T(technology):
    
    number_of_jobs = 0
    response = requests.get(api_url)
    if response.ok:     # if no error, no network timeouts
        data = response.json()
        
        for element in data:
            skills = element.get('Key Skills')
            if technology in skills:
                number_of_jobs+=1
        
    #your code goes here
    return technology,number_of_jobs

Calling the function for Python and checking if it works.

In [61]:
get_number_of_jobs_T("Python")

('Python', 1173)

#### Write a function to find number of jobs in US for a location of your choice

In [62]:
def get_number_of_jobs_L(location):
    
    number_of_jobs = 0
    response = requests.get(api_url)
    if response.ok:
        data = response.json()
        
    for element in data:
        locations = element.get('Location')
        if location in locations:
            number_of_jobs += 1
    #your coe goes here
    return location,number_of_jobs

Call the function for Los Angeles and check if it is working.

In [63]:
#your code goes here
get_number_of_jobs_L('Los Angeles')

('Los Angeles', 640)

### Store the results in an excel file

Call the API for all the given technologies above and write the results in an excel spreadsheet.

Create a python list of all locations for which you need to find the number of jobs postings.

In [13]:
#your code goes here
response = requests.get(api_url)
data = response.json()
locations = [element.get('Location') for element in data]
all_locations = set(locations)

In [14]:
all_locations

{'Austin',
 'Baltimore',
 'Boston',
 'Dallas',
 'Detroit',
 'Houston',
 'Los Angeles',
 'New Orleons',
 'New York',
 'Philadelphia',
 'San Francisco',
 'Seattle',
 'Washington DC'}

Import libraries required to create excel spreadsheet

In [68]:
# your code goes here
from openpyxl import Workbook

Create a workbook and select the active worksheet

In [69]:
# your code goes here
wb = Workbook()
ws = wb.active
ws

Find the number of jobs postings for each of the location in the above list.
Write the Location name and the number of jobs postings into the excel spreadsheet.

In [70]:
#your code goes here
ws.append(['Location','Number of Jobs'])
jobs_list = list()
for location in all_locations:
    jobs = get_number_of_jobs_L(location)
    print(jobs)
    ws.append(jobs)
ws

('Boston', 2966)
('Detroit', 3945)
('Baltimore', 1263)
('Dallas', 1208)
('San Francisco', 435)
('Washington DC', 5316)
('New Orleons', 817)
('Seattle', 3375)
('Austin', 434)
('Philadelphia', 41)
('Houston', 3339)
('Los Angeles', 640)
('New York', 3226)

Save into an excel spreadsheet named 'job-postings.xlsx'.

In [71]:
#your code goes here
wb.save("job-postings.xlsx")

In [73]:
import pandas as pd
df=pd.read_excel("job-postings.xlsx")
df

         Location  Number of Jobs
0          Boston            2966
1         Detroit            3945
2       Baltimore            1263
3          Dallas            1208
4   San Francisco             435
5   Washington DC            5316
6     New Orleons             817
7         Seattle            3375
8          Austin             434
9    Philadelphia              41
10        Houston            3339
11    Los Angeles             640
12       New York            3226

#### In the similar way, you can try for below given technologies and results  can be stored in an excel sheet.

Collect the number of job postings for the following languages using the API:

*   C
*   C#
*   C++
*   Java
*   JavaScript
*   Python
*   Scala
*   Oracle
*   SQL Server
*   MySQL Server
*   PostgreSQL
*   MongoDB

In [74]:
# your code goes here
languages = [ 'C', 'C#', 'C++', 'Java', 'JavaScript', 'Python', 'Scala', 'Oracle', 'SQL Server', 'MySQL Server', 'PostgreSQL', 'MongoDB']
wb2 = Workbook()
ws2 = wb2.active

for language in languages:
    jobs = get_number_of_jobs_T(language)
    ws2.append(jobs)

wb2.save("languages-job-postings.xlsx")

In [75]:
import pandas as pd
df_2=pd.read_excel("languages-job-postings.xlsx")
df_2

               C  13498
0             C#    333
1            C++    305
2           Java   2609
3     JavaScript    355
4         Python   1173
5          Scala     33
6         Oracle    784
7     SQL Server    250
8   MySQL Server      0
9     PostgreSQL     10
10       MongoDB    174

## Authors

Ramesh Sannareddy

### Other Contributors
Rav Ahuja

## Change Log
| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).